body{
	font-family: Microsoft JhengHei;
}

a {
	text-decoration: none !important;
}

.box .content td {
	padding: 0px, 1px !important;
}

.box .content .date {
	width: 20%;
	text-align: center;
}
		
.box .content a {
	color: black !important;
}
		
.box .content a:hover {
	color: rgba(144, 144, 144, 1) !important;
}

.wrapper.style3 a {
	color: white !important;
	margin:0px 5%;
}

.banner h3 { 
	font-size:50px;
}
#footer{
	background-color: #000;

	background-image: url(../../images/bg.jpg) !important;
	background-size: cover !important;
    background-attachment: fixed !important;
	background-position: center !important;
	position: relative;
}
#footer:before{
    transition: opacity 3s ease;
    transition-delay: 1.25s;
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.95);
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
	z-index: 1;
}
#footer:after {
	content:"";
	display:block;
	clear:both;
}
#footer .container{
	z-index: 2;
	position: relative;
}
#footer .footerLeft {
	float: left;
	text-align: left;
	color: white;
	width: 45%
}
		
#footer .footerRight {
	float: right;
	color: white;
	width: 45%
}
.image.fit img {
	/* width: 100%; */
	width: 50%;
	margin: auto;
}
@media screen and (min-width: 1281px) {

.wrapper > .inner {
	width: 95rem;
}

}

@media screen and (max-width: 980px) {
	
			
	.style3 a {
		height:60px;
	}
			
	.style3 .floatLeft {
		float: left;
	}
			
	.style3 .floatRight {
		float: Right;
	}
			
	.style3 h2:after {
		content:"";
		display:block;
		clear:both;
	}

	.banner .smaller p{
		font-size:8px;
	}
	
	.banner .smaller h3{
		font-size:30px;
	}

}

@media screen and (max-width: 736px) {

			
	.style3 a {
		font-size: 15px;
		height:30px;
	}
			
	.style3 .floatLeft {
		float: left;
	}
			
	.style3 .floatRight {
		float: Right;
	}
			
	.style3 h2:after {
		content:"";
		display:block;
		clear:both;
	}
	
	.banner > article h3 {
		font-size: 13px;
	}
			
	.banner .smaller p{
		font-size:6px;
	}
			
	.banner .smaller h3{
		font-size:24px;
	}
	
	.banner .smallsize {
		font-size:8px;
	}
	
	#footer p {
		font-size: 9px;
	}
			
}