html{
	font-family: Microsoft JhengHei !important;
} 
#footer {
		padding: 4rem 0 2rem 0 ;
		background: #000;
		text-align: center;
	}
	
	#footer:after {
		content:"";
		display:block;
		clear:both;
	}

		#footer a {
			color: rgba(255, 255, 255, 0.5);
		}

			#footer a:hover {
				color: #FFF;
			}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
			padding: 0;
			text-align: center;
		}
		
		#footer .footerLeft {
			float: left;
			text-align: left;
			color: white;
			width: 45%
		}
		
		#footer .footerRight {
			float: right;
			color: white;
			width: 45%
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3rem 0 1rem 0 ;
			}
			
			#footer p {
				font-size: 9px;
			}
        }
.image.fit img {
	/* width: 100%; */
	width: 25%;
	margin: auto;
	padding-top: 30px;
}
.box .content {
	padding: 2rem;
}
div.content p
{
	font-size: 14px !important;
}
